---
import Button from '#components/Button.astro';

// Click button, get confetti!
---

<Button id="confetti-btn">
  <slot />
</Button>

<script>
  //https://docs.astro.build/en/guides/client-side-scripts/#handle-onclick-and-other-events

  import confetti from 'canvas-confetti';
  const buttons = document.querySelectorAll('button#confetti-btn');

  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      console.log(`triggering the confetti from the button\n`, button, `\n`);

      confetti();
    });
  });
</script>
