---
import AvatarErkoBrideeManga from '#components/AvatarErkoBrideeManga.astro';

import SocialLink from '#components/SocialLink.astro';
---

<div class="px-10 pt-10">
  <div class="relative mx-auto mb-32 mt-24 max-w-sm">
    <div class="overflow-hidden rounded bg-white shadow-md">
      <div class="absolute -mt-20 flex w-full justify-center">
        <div class="h-32 w-32">
          <AvatarErkoBrideeManga />
        </div>
      </div>

      <div class="mt-16 flex flex-col px-6">
        <div class="flex flex-col">
          <h1 class="mb-1 text-center text-3xl font-bold">Erko Bridee</h1>
          <p class="text-center text-sm text-gray-800">
            Senior Software Enginee
          </p>
        </div>

        <p class="pt-3 text-center text-base font-normal text-gray-600">
          I'm a mad computer scientist, but with bachelor's degree \o/
        </p>

        <div class="w-full border-b border-gray-200 pt-5"></div>

        <div
          class="flex w-full justify-center space-x-9 pb-5 pt-5 text-[#718096]"
        >
          <SocialLink platform="linkedin" username="erkobridee" />
          <SocialLink platform="github" username="erkobridee" />
          <SocialLink platform="twitter" username="erkobridee" />
          <SocialLink platform="instagram" username="erkobridee" />
        </div>
      </div>
    </div>
  </div>
</div>
