---
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

// import redefineUrl from '~/utils/redefineUrl';
import '~/styles/global.css';

interface IContent {
  title: string;
}

// https://docs.astro.build/en/guides/typescript/#component-props
interface Props {
  content: IContent;
}

const { content } = Astro.props;

// https://docs.astro.build/en/basics/astro-syntax/#fragments
// defining its value only once
// const styleFragment = `
// <style>
//   :root {
//     --externalIconUrl: url(${redefineUrl(ExternalLinkIcon.src)});
//   }
// </style>
// `;

// <Fragment set:html={styleFragment} />
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{content.title}</title>
  </head>
  <body class="bg-gray-100">
    <slot />
  </body>
</html>
