name: Pull Request to Main

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: pr-to-main-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v6

      - name: Setup Node 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install
        run: npm i

      - name: Build
        run: npm run build
